<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  	<title>系统首页</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" type="text/css" href="/write/css/index/index.css"/>
  </head>
  <body>
    <div id="main">
      <div id="title">系统菜单</div>
      <a href="/write/user/findlist"><input type="button" value="用户管理"/></a>
      <a href="/write/file/findinfo"><input type="button" value="编辑文件"/></a>
      <a href="/write/user/quit"><input type="button" value="退出登录"/></a>
    </div>
  </body>
</html>