<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  	<title>用户管理</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" type="text/css" href="/write/css/users/findlist.css"/>
	<script type="text/javascript" src="/write/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="/write/js/users/findlist.js"></script>
  </head>
  <body>
    <div id="main">
      <div id="title">用户管理</div>
      <div id="infoTop">
        <div id="lable">用户列表</div>
        <input type="button" id="append" value="+ 添加"/>
      </div>
      <div id="listTitle">
        <div style="width:50px;">No</div>
        <div style="width:224px;">账号</div>
        <div style="width:224px;">密码</div>
        <div style="width:142px;">操作</div>
      </div>
      <div id="listInfo">
      <table id="tab1">
        <tr th:each="user,status:${list}" class="row2">
          <td width="8%" th:text="${status.count}"></td>
          <td width="36%" th:text=${user.name}></td>
          <td width="36%" th:text=${user.pass}></td>
          <td width="20%">
            <input type="button" value="编辑" style="background-color:#2CACF1"/>
            <input type="button" value="删除" style="background-color:#F34D4D"/>
          </td>
        </tr>
      </table>
      </div>
    </div>
  </body>
</html>