<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  	<title>编辑文件</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" type="text/css" href="/write/css/files/findinfo.css"/>
	<script type="text/javascript" src="/write/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="/write/js/files/findinfo.js"></script>
  </head>
  <body>
    <div id="main">
      <div id="title">编辑文件</div>
      <div id="maininfo">
        <div>文件夹名称：</div>
        <input type="text" name="name"/>
        <input type="button" id="query" value="查询"/>
      </div>
      <textarea name="text"></textarea>
      <input type="button" id="commit" value="确定"/>
    </div>
  </body>
</html>